# Find Bigram in text datasets

In [18]:
#import required packages
import nltk as nk
import pandas as pd
import re
from collections import Counter
import csv

In [19]:
#read dataset
data = pd.read_csv('tweets.csv')
data.head(10)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1153277805322543104,1153277805322543104,1563797830000,2019-07-22,15:17:10,3,3437568039,drhamzehkharaz,Ø¯.Ø­Ù…Ø²Ø© Ø§Ù„Ø®Ø±Ø§Ø²,NaN,...,0,[],[],https://twitter.com/DrhamzehKharaz/status/1153...,NaN,NaN,0,NaN,NaN,NaN
1,1153262700564275200,1153256147421454339,1563794229000,2019-07-22,14:17:09,3,832520707829616640,saraa3123,sarağŸ¦‹,NaN,...,1,[],[],https://twitter.com/saraa3123/status/115326270...,NaN,NaN,0,NaN,NaN,NaN
2,1153228201692422144,1153228201692422144,1563786003000,2019-07-22,12:00:03,3,3338872708,tunisiareview,Tunisia Review,NaN,...,0,[],[],https://twitter.com/tunisiareview/status/11532...,NaN,NaN,0,NaN,NaN,NaN
3,1153211471142236161,1152703059165876226,1563782015000,2019-07-22,10:53:35,3,3267212600,w_a_d10,ÙˆØ¹Ø¯,NaN,...,0,[],[],https://twitter.com/w_a_d10/status/11532114711...,NaN,NaN,0,NaN,NaN,NaN
4,1153208960150884352,1153208960150884352,1563781416000,2019-07-22,10:43:36,3,778310359207870465,ibrmaj7,iBR.,NaN,...,1,[],[],https://twitter.com/IBRMAJ7/status/11532089601...,NaN,NaN,0,NaN,NaN,NaN
5,1153145607890096129,1153144062800748544,1563766311000,2019-07-22,06:31:51,3,896977070,al3obeery,Ø£Ø¨Ùˆ Ø­Ø³Ù† Ø£Ù„Ø¹Ø¨ÙŠØ±ÙŠ,NaN,...,1,[],[],https://twitter.com/al3obeery/status/115314560...,NaN,NaN,0,NaN,NaN,NaN
6,1153141929980420096,1150547028939857920,1563765435000,2019-07-22,06:17:15,3,961328778004828162,sham3217,sham,NaN,...,0,[],[],https://twitter.com/sham3217/status/1153141929...,NaN,NaN,0,NaN,NaN,NaN
7,1153117209981595649,1153058788527824898,1563759541000,2019-07-22,04:39:01,3,617436371,tdmahmr,Ø·Ù„Ø§Ù„ Ø§Ù„Ù…Ø®ØªØ§Ø±ÙŠ Ø§Ù„Ø±ÙŠÙ…ÙŠ,NaN,...,0,[],[],https://twitter.com/TDMAHMR/status/11531172099...,NaN,NaN,0,NaN,NaN,NaN
8,1153105037691953153,1153105037691953153,1563756639000,2019-07-22,03:50:39,3,1153088938472550400,spjai21dmxab5yx,Ø§Ù†Ø§ Ø§Ø±Ù…Ù„Ù‡ Ù…Ø­ØªØ§Ø¬Ù‡,NaN,...,1,[],[],https://twitter.com/SpjaI21DMXaB5yx/status/115...,NaN,NaN,0,NaN,NaN,NaN
9,1153070971139571712,1153070971139571712,1563748517000,2019-07-22,01:35:17,3,706067014364831744,000otot,Ø¹Ø§Ø¶ Ø«ÙˆØ¨Ù‡ ÙˆÙ…Ù†Ø­Ø§Ø´,NaN,...,0,[],[],https://twitter.com/000Otot/status/11530709711...,NaN,NaN,0,NaN,NaN,NaN

In [20]:
data.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id',
       'near', 'geo'],
      dtype='object')

In [21]:
#find top retweeted tweets about alhabib hospital
top_retweeted = data.sort_values(by=['retweets_count'],ascending=False).head(5)[['tweet','username']]
#store the result externally
top_retweeted.to_csv('top_retweeted.csv',sep=',', encoding='utf-8-sig')
top_retweeted

                                                  tweet         username
3019  Ø§Ù„ÙŠÙˆÙ… ÙÙŠ Ù…Ø³ØªØ´ÙÙ‰ Ø§Ù„Ø­Ø¨ÙŠØ¨ Ø§Ø±Ø¯Ù†ÙŠ Ø§Ù…Ø§Ù… Ø§Ù„ÙƒØ§ÙˆÙ†ØªØ± ÙŠØ±Ù...          twaqee3
4267  ÙŠØ±Ù‚Ø¯ Ø¹Ù„Ù‰ Ø§Ù„Ø³Ø±ÙŠØ± Ø§Ù„Ø£Ø¨ÙŠØ¶ ÙÙŠ Ù…Ø³ØªØ´ÙÙ‰ Ø§Ù„Ø­Ø¨ÙŠØ¨ Ø§Ù„ØªØ®ØµØµ...      sa_alnaseeb
1212  ... ØªÙ„Ù‚ÙŠÙ†Ø§ ÙÙŠ Ù…Ø¬Ù„Ø³ Ù‚Ø¯Ø§Ù…Ù‰ Ù„Ø§Ø¹Ø¨ÙŠ Ø§Ù„Ù†ØµØ± Ø±Ø³Ø§Ù„Ù‡ Ù…Ù† ...   nasssr_forever
4680  *** Ø¹Ø§Ø¬Ù„ Ø¬Ø¯Ø§Ù‹ ***  Ù…Ø·Ù„ÙˆØ¨ Ù…ØªØ¨Ø±Ø¹ÙŠÙ† Ù„Ù„Ø¯Ù… Ù…Ù† " Ø£ÙŠ ...  dr_khalidalsaud
3442  Ø§Ù„Ø·ÙÙ„Ø© Ø±ØªÙŠÙ„ Ø¶ÙŠÙ Ø§Ù„Ù„Ù‡ Ø§Ù„Ø¹ØªÙŠØ¨ÙŠ ÙÙŠ Ø­Ø§Ø¬Ø© Ù…Ø§Ø³Ø© Ù„Ù„ØªØ¨...         alfheeda

Bigram Extraction

In [22]:
#define a function that tokenizes sentences to bigrams
def bigrams(sentence):
    text = re.sub('\W', ' ', sentence.lower())
    words = text.split()
    return zip(words, words[1:])

In [23]:
#Day1
#initiate a counter to count the distribution of the bigrams
counts_1 = Counter()
for line in data['tweet']:
    counts_1.update(bigrams(line))
#convert dictionary to series
counts_series_1= pd.Series(counts_1, name='Bigram_Count')
counts_series_1.index.name = 'Count'
#create a dataframe
bigram_count=pd.DataFrame(counts_series_1.reset_index())
#create a new column that specifies the date 
bigram_count.head()

  level_0 level_1  Bigram_Count
0       0       0             1
1       0       1             1
2       0     196             1
3       0    html             1
4       0     Ø§Ù†Ø§             1

In [24]:
# changing columns names using .columns() 
bigram_count.columns = ['Word1', 'Word2', 'Bigram_Count'] 
#merge two words in one column
bigram_count['bigram'] = bigram_count['Word1']+" "+bigram_count['Word2']
bigram_count_ordered = bigram_count.sort_values(by=['Bigram_Count'],ascending=False)
bigram_count_ordered.head()

         Word1    Word2  Bigram_Count         bigram
75227   Ù…Ø³ØªØ´ÙÙ‰   Ø§Ù„Ø­Ø¨ÙŠØ¨          4965  Ù…Ø³ØªØ´ÙÙ‰ Ø§Ù„Ø­Ø¨ÙŠØ¨
63428       ÙÙŠ   Ù…Ø³ØªØ´ÙÙ‰          2113      ÙÙŠ Ù…Ø³ØªØ´ÙÙ‰
52079   Ø³Ù„ÙŠÙ…Ø§Ù†   Ø§Ù„Ø­Ø¨ÙŠØ¨          1972  Ø³Ù„ÙŠÙ…Ø§Ù† Ø§Ù„Ø­Ø¨ÙŠØ¨
4871   twitter      com           868    twitter com
4308       pic  twitter           772    pic twitter

In [25]:
#export dataframe as a csv file
bigram_count_ordered.to_csv('habib.csv',sep=',', encoding='utf-8-sig')